{% extends "layout.html" %}

{% block title %}History{% endblock %}

{% block main %}
<h2>Transaction History</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Action</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.symbol }}</td>
            <td>{% if t.shares > 0 %}Buy{% else %}Sell{% endif %}</td>
            <td>{{ t.shares | abs }}</td>
            <td>{{ t.price | usd }}</td>
            <td>{{ t.transacted_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
