{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<h2>Change Password</h2>
<form action="/password" method="post">
    <div class="mb-3">
        <input class="form-control" name="current_password" placeholder="Current Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
